.new-incident-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;
}

.new-incident-container .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 96px;
  border-radius: 8px;
  box-shadow: 0 0 100px rgba(0, 0, 0, .1);
}

.new-incident-container section {
  width: 100%;
  max-width: 380px;
}

.new-incident-container section h1{
  margin: 64px 0 32px;
  font-size: 32px;
}

.new-incident-container section p{
  font-size: 18px;
  color: #737380;
  line-height: 32px;
}

.new-incident-container form {
  width: 100%;
  max-width: 450px;
}

.new-incident-container input,
.new-incident-container textarea {
  margin-top: 8px;
}
